server:
  port: 80
  error:
    include-stacktrace: never
spring:
  thymeleaf:
    check-template-location: false
  profiles:
    active: desenvolvimento
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
  # Development properties (also used for docker-compose)
  config:
    import: optional:file:.env[.properties]


